<div class="card-wrapper" [ngClass]="estabelecimentosFiltrados.length > 0 ? 'card-wrapper' : 'preencher'">
  <app-card-petshop
    *ngFor="let item of estabelecimentosFiltrados"
    [estabelecimento]="item"
  >
  </app-card-petshop>
</div>
<div class="sem-estabelecimento">
  <span *ngIf="estabelecimentosFiltrados.length == 0 && buscaControl.value == ''">Procure pelo nome do estabelecimento</span>
  <span *ngIf="estabelecimentosFiltrados.length == 0 && buscaControl.value != ''">Nenhum estabelecimento encontrado com esse nome</span>
</div>

