.card-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: .75rem;
}

.preencher {
  padding: 5rem 0;
}

@media screen and (min-width: 769px) {
  .card-wrapper {
    padding: 0;
  }
}
