<div *ngIf="!isLoading">
  <div class="header-banner">
    <app-header></app-header>
    <app-banner [logo]='false' class="banner"></app-banner>
  </div>

  <div class="edicao-estabelecimento">
    <app-container class="container">
      <div class="content">
        <h2 class="titulo">Editar Perfil</h2>
        <form class="form" [formGroup]="formGroup">
          <!-- nome do estabelecimento -->
          <div class="input-wrapper">
            <label for="nome" class="label">Nome fantasia</label>
            <mat-form-field class="form-field" subscriptSizing="dynamic" appearance="outline">
              <input type="text" matInput class="input" id="nome" formControlName="nome">
              <!-- <mat-error *ngIf="loginForm.get('email')?.errors?.['required']">Campo obrigatório</mat-error> -->
            </mat-form-field>
          </div>

          <!-- telefone -->
          <div class="input-wrapper">
            <label for="telefone" class="label">Telefone</label>
            <mat-form-field class="form-field" subscriptSizing="dynamic" appearance="outline">
              <input type="text" matInput class="input" id="telefone" formControlName="telefone" [mask]="phoneMask">
              <!-- <mat-error *ngIf="loginForm.get('email')?.errors?.['required']">Campo obrigatório</mat-error> -->
            </mat-form-field>
          </div>

          <!-- endereco -->
          <h2 class="titulo">Editar Endereço</h2>
          <form class="form-endereco" formGroupName="endereco">
            <div class="input-wrapper">
              <label for="cep" class="label">CEP</label>
              <mat-form-field class="form-field" subscriptSizing="dynamic" appearance="outline">
                <input type="text" matInput class="input" id="cep" formControlName="cep" mask="00000-000">
                <!-- <mat-error *ngIf="loginForm.get('email')?.errors?.['required']">Campo obrigatório</mat-error> -->
              </mat-form-field>
            </div>
            <div class="input-wrapper">
              <label for="logradouro" class="label">Logradouro</label>
              <mat-form-field class="form-field" subscriptSizing="dynamic" appearance="outline">
                <input type="text" matInput class="input" id="logradouro" formControlName="logradouro">
                <!-- <mat-error *ngIf="loginForm.get('email')?.errors?.['required']">Campo obrigatório</mat-error> -->
              </mat-form-field>
            </div>
            <div class="input-wrapper">
              <label for="numero" class="label">Numero</label>
              <mat-form-field class="form-field" subscriptSizing="dynamic" appearance="outline">
                <input type="text" matInput class="input" id="numero" formControlName="numero">
                <!-- <mat-error *ngIf="loginForm.get('email')?.errors?.['required']">Campo obrigatório</mat-error> -->
              </mat-form-field>
            </div>
            <div class="input-wrapper">
              <label for="complemento" class="label">Complemento</label>
              <mat-form-field class="form-field" subscriptSizing="dynamic" appearance="outline">
                <input type="text" matInput class="input" id="complemento" formControlName="complemento">
                <!-- <mat-error *ngIf="loginForm.get('email')?.errors?.['required']">Campo obrigatório</mat-error> -->
              </mat-form-field>
            </div>
            <div class="input-wrapper">
              <label for="bairro" class="label">Bairro</label>
              <mat-form-field class="form-field" subscriptSizing="dynamic" appearance="outline">
                <input type="text" matInput class="input" id="bairro" formControlName="bairro">
                <!-- <mat-error *ngIf="loginForm.get('email')?.errors?.['required']">Campo obrigatório</mat-error> -->
              </mat-form-field>
            </div>
            <div class="input-wrapper">
              <label for="cidade" class="label">Cidade</label>
              <mat-form-field class="form-field" subscriptSizing="dynamic" appearance="outline">
                <input type="text" matInput class="input" id="cidade" formControlName="cidade">
                <!-- <mat-error *ngIf="loginForm.get('email')?.errors?.['required']">Campo obrigatório</mat-error> -->
              </mat-form-field>
            </div>
            <div class="input-wrapper">
              <label for="estado" class="label">Estado</label>
              <mat-form-field class="form-field" subscriptSizing="dynamic" appearance="outline">
                <input type="text" matInput class="input" id="estado" formControlName="estado">
                <!-- <mat-error *ngIf="loginForm.get('email')?.errors?.['required']">Campo obrigatório</mat-error> -->
              </mat-form-field>
            </div>
          </form>
        </form>

      </div>
    </app-container>

    <div class="button_wrapper">
      <app-basic-button
        text="Cancelar"
        class="button"
        routerLink="/perfil-estabelecimento/{{id}}"
      ></app-basic-button>
      <app-primary-button text="Salvar" class="button" (click)="submitHandler()"></app-primary-button>
    </div>
  </div>

  <app-footer></app-footer>
</div>

<div class="spinner-container" *ngIf="isLoading">
  <mat-spinner></mat-spinner>
</div>
