<app-banner [logo]='true'></app-banner>
<div class="endereco">
  <app-container class="container">
    <div class="content">
      <h2 class="titulo">Endereço</h2>
      <form class="form" [formGroup]="formGroup">
        <div formGroupName="endereco" class="form-endereco">
          <div class="input-wrapper">
            <label for="cep" class="label">CEP</label>
            <mat-form-field class="form-field" subscriptSizing="dynamic" appearance="outline">
              <input type="text" matInput class="input" id="cep" formControlName="cep" mask="00000-000" (blur)="procurarEndereco($event)">
              <mat-error *ngIf="formGroup.get('endereco.cep')?.errors?.['required'] && formGroup.get('endereco.cep')?.touched">Campo obrigatório</mat-error>
            </mat-form-field>
          </div>
          <div class="input-wrapper">
            <label for="logradouro" class="label">Logradouro</label>
            <mat-form-field class="form-field" subscriptSizing="dynamic" appearance="outline">
              <input type="text" matInput class="input" id="logradouro" formControlName="logradouro">
              <mat-error *ngIf="formGroup.get('endereco.logradouro')?.errors?.['required'] && formGroup.get('endereco.logradouro')?.touched">Campo obrigatório</mat-error>
            </mat-form-field>
          </div>
          <div class="input-wrapper">
            <label for="numero" class="label">Numero</label>
            <mat-form-field class="form-field" subscriptSizing="dynamic" appearance="outline">
              <input type="text" matInput class="input" id="numero" formControlName="numero">
              <mat-error *ngIf="formGroup.get('endereco.numero')?.errors?.['required'] && formGroup.get('endereco.numero')?.touched">Campo obrigatório</mat-error>
            </mat-form-field>
          </div>
          <div class="input-wrapper">
            <label for="complemento" class="label">Complemento</label>
            <mat-form-field class="form-field" subscriptSizing="dynamic" appearance="outline">
              <input type="text" matInput class="input" id="complemento" formControlName="complemento">
            </mat-form-field>
          </div>
          <div class="input-wrapper">
            <label for="bairro" class="label">Bairro</label>
            <mat-form-field class="form-field" subscriptSizing="dynamic" appearance="outline">
              <input type="text" matInput class="input" id="bairro" formControlName="bairro">
              <mat-error *ngIf="formGroup.get('endereco.bairro')?.errors?.['required'] && formGroup.get('endereco.bairro')?.touched">Campo obrigatório</mat-error>
            </mat-form-field>
          </div>
          <div class="input-wrapper">
            <label for="cidade" class="label">Cidade</label>
            <mat-form-field class="form-field" subscriptSizing="dynamic" appearance="outline">
              <input type="text" matInput class="input" id="cidade" formControlName="cidade">
              <mat-error *ngIf="formGroup.get('endereco.cidade')?.errors?.['required'] && formGroup.get('endereco.cidade')?.touched">Campo obrigatório</mat-error>
            </mat-form-field>
          </div>
          <div class="input-wrapper">
            <label for="estado" class="label">Estado</label>
            <mat-form-field class="form-field" subscriptSizing="dynamic" appearance="outline">
              <input type="text" matInput class="input" id="estado" formControlName="estado">
              <mat-error *ngIf="formGroup.get('endereco.estado')?.errors?.['required'] && formGroup.get('endereco.estado')?.touched">Campo obrigatório</mat-error>
            </mat-form-field>
          </div>
        </div>
      </form>
    </div>
  </app-container>
  <div class="button_wrapper">
    <app-basic-button
      text="Cancelar"
      class="button"
      (click)="cancelar()"
    ></app-basic-button>
    <app-primary-button text="Cadastrar" class="button" (click)="onSubmit()"></app-primary-button>
  </div>
</div>
