<div *ngIf="!isLoading">
  <div class="header-banner">
    <app-header></app-header>
    <app-banner [logo]='false' class="banner"></app-banner>
  </div>

  <div class="perfil-cliente">
    <app-container class="container">
      <div class="info">
        <div class="nome">
          <!-- <h2 class="titulo">{{ cliente ? (cliente.nome ? cliente.nome : '') : ''}} {{ cliente ? (cliente.sobrenome ? cliente.sobrenome : '') : '' }}</h2> -->
          <h2 class="titulo">{{ cliente.nome }} {{ cliente.sobrenome }}</h2>
        </div>
        <div class="dados">
          <span class="dados__item">Telefone: {{ cliente.telefone | telefone}}</span>
          <span class="dados__item">E-mail: {{ cliente.conta.email }}</span>
        </div>
        <app-primary-button text="Editar" class="button" routerLink="/perfil-cliente/{{cliente.id}}/editar-perfil"></app-primary-button>
      </div>
    </app-container>
    <div class="opcoes">
      <button class="opcoes__botao" routerLink="/perfil/{{ cliente.id }}/listar-pets">
        <i class="icon-paw"></i>
        Pets
      </button>
      <button class="opcoes__botao" routerLink="/perfil/{{ cliente.id }}/lista-agendamentos">
        <i class="icon-schedule"></i>
        Agendamentos
      </button>
    </div>
  </div>
  <app-footer></app-footer>
</div>
<div class="spinner-container" *ngIf="isLoading">
  <mat-spinner></mat-spinner>
</div>
