<div class="header-banner">
  <app-header></app-header>
  <app-banner [logo]='false' class="banner"></app-banner>
</div>

<div class="perfil-cliente">
  <app-container class="container">
    <div class="info">
      <div class="nome">
        <h2 class="titulo">{{ cliente.nome }} {{ cliente.sobrenome }}</h2>
      </div>
      <div class="dados">
        <span class="dados__item">Telefone: {{ cliente.telefone | telefone}}</span>
        <span class="dados__item">E-mail: {{ cliente.conta.email }}</span>
      </div>
      <app-primary-button text="Editar" class="button"></app-primary-button>
    </div>
  </app-container>
  <div class="opcoes">
    <button class="opcoes__botao" routerLink="/perfil/{{ cliente.id }}/listar-pets">
      <i class="icon-paw"></i>
      Pets
    </button>
    <button class="opcoes__botao">
      <i class="icon-schedule"></i>
      Agendamentos
    </button>
  </div>
</div>
<app-footer></app-footer>
