@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?8v310m');
  src:  url('fonts/icomoon.eot?8v310m#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?8v310m') format('truetype'),
    url('fonts/icomoon.woff?8v310m') format('woff'),
    url('fonts/icomoon.svg?8v310m#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-log-out:before {
  content: "\e906";
}
.icon-paw:before {
  content: "\e907";
}
.icon-login:before {
  content: "\e905";
}
.icon-home:before {
  content: "\e903";
}
.icon-schedule:before {
  content: "\e904";
}
.icon-menu-hamburger:before {
  content: "\e902";
}
.icon-user:before {
  content: "\e901";
}
.icon-search:before {
  content: "\e900";
}
