<header class="header">
  <mat-toolbar color="accent" class="header__toolbar">
    <mat-toolbar-row class="logo-botoes-desktop">
      <div class="logo-desktop">
        <span class="logo_nome-desktop">KoPet</span>
        <span class="example-spacer"></span>
      </div>
      <div class="toolbar__botoes">
        <div class="header__botao-desktop">
          <button mat-button class="botao-desktop__item">botão</button>
          <button mat-button class="botao-desktop__item">botão</button>
          <button mat-button class="botao-desktop__item">botão</button>
        </div>
      </div>
    </mat-toolbar-row>
    <mat-toolbar-row class="logo-botoes-mobile">
      <div class="logo">
        <span class="logo_nome">KoPet</span>
        <span class="example-spacer"></span>
      </div>
      <button class="botao-menu">
        <i class="icon-menu-hamburger"></i>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>
</header>
