<header class="header">
  <mat-toolbar color="accent" class="header__toolbar">
    <span class="logo">KoPet</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="header__botao-hamburguer">
      <mat-icon>menu</mat-icon>
    </button>
    <div class="header__botao-desktop">
      <button mat-button class="botao-desktop__item">botão</button>
      <button mat-button class="botao-desktop__item">botão</button>
      <button mat-button class="botao-desktop__item">botão</button>
    </div>
  </mat-toolbar>
</header>

