.header {
  .header__toolbar {
    padding: 1.5rem 1.5rem 6rem 1.5rem;
  }

  .logo {
    color: white;
  }

  .example-spacer {
    flex: 1 1 auto;
  }

  @media screen and (min-width: 768px) {
    .header__botao-hamburguer{
      display: none;
    }

    .logo {
      font-size: 2.5rem;
    }

  }
}
