.header {
  .header__toolbar {
    padding: 1.5rem 1.5rem 6rem 1.5rem;
  }

  .logo {
    color: white;
  }

  .example-spacer {
    flex: 1 1 auto;
  }

  .header__botao-desktop {
    display: none;
  }

  @media screen and (min-width: 768px) {
    .header__botao-hamburguer{
      display: none;
    }

    .logo {
      font-size: 2.5rem;
    }

    .header__botao-desktop {
      display: flex;
      column-gap: 1rem;
    }

    .botao-desktop__item {
      font-size: 1rem;
    }
  }
}
