.card {
  border: solid 1px var(--primary-color);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 85%;

  mat-card-title {
    text-align: center;
  }

  mat-divider{
    width: 90%;
    align-self: center;
  }
  h1 {
    font-size: 1rem;
    margin: 0;
    font-weight: 600;
  }

  h2 {
    font-size: 0.8rem;
    text-align: center;
    margin: 0;
  }

  .info_funcionario {
    display: flex;
    flex-direction: column;
  }

  .servico__texto {
    text-align: center;
  }

  .button-wrapper {
    margin: .5rem;
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: .75rem;
  }

  .button-icon {
    border: none;
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
    padding: .25rem;
    justify-content: space-around;
    border-radius: .5rem;
  }

  .icon {
    font-size: 1.5rem;
  }
}
