<mat-card class="card">
  <mat-card-header>
    <mat-card-title>
      <h1>{{ funcionario.nome }} {{ funcionario.sobrenome }}</h1>
    </mat-card-title>
  </mat-card-header>
  <mat-divider></mat-divider>
  <mat-card-content class="info_funcionario" *ngFor="let servico of funcionario.servicos">
    <span class="servico__texto">{{ servico.nome }}</span>
  </mat-card-content>

  <div class="button-wrapper" *ngIf="estabelecimentoLogado">
    <button class="button-icon" routerLink="/perfil-estabelecimento/{{ estabelecimentoId }}/editar-funcionario/{{ funcionario.id }}">
      <i class="icon-edit icon"></i>
      <span class="btn-texto">Editar</span>
    </button>
    <button class="button-icon" (click)="openDialog()">
      <i class="icon-trash-can icon"></i>
      <span class="btn-texto">Excluir</span>
    </button>
  </div>
</mat-card>
