<app-header></app-header>
<div class="content">
  <app-container class="container">
    <div class="selecao selecao-dia">
      <h2 class="titulo">Selecione o dia:</h2>
      <app-calendario
        *ngIf="opcoesDisponibilidade.length > 0"
        class="calendario"
        [opcoes]="opcoesDisponibilidade"
        (dataSelecionada)="onSelected($event)"
      ></app-calendario>
      <app-calendario *ngIf="opcoesDisponibilidade.length == 0" class="calendario" [opcoes]="opcoesDisponibilidade"></app-calendario>
    </div>
    <div *ngIf="horasDisponiveis.length > 0" class="selecao selecao-hora">
      <h2 class="titulo">Selecione a hora:</h2>
      <app-chip-hora [horaControl]="horaControl" class="chip-hora" [horasDisponiveis]="horasDisponiveis"></app-chip-hora>
    </div>
  </app-container>
  <div class="button_wrapper">
    <app-basic-button
      text="Voltar"
      class="button"
      routerLink="/agendamento/selecionar-servico-colaborador"
    ></app-basic-button>
    <app-primary-button text="Agendar" class="button"></app-primary-button>
  </div>
</div>

<app-footer [usuarioLogado]="usuarioLogado"></app-footer>
