.mat-input-element:focus {
  outline: solid 1.5px var(--primary-color);
}

.form-busca {
  margin: 0;
  .busca-toolbar {
    display: flex;
    justify-content: center;
    padding: 1rem 0 8rem 0;
    z-index: -1;
    width: 100%;
    border-radius: 0 0 100px 100px;
  }

  .input-group {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  .botao-busca {
    border: none;
    background: none;
    position: absolute;
    margin: 0 1rem;

    :hover {
      cursor: pointer;
    }
  }

  .icon-search{
    font-size: 1.5rem;
    color: var(--primary-color);
  }

  .toolbar__barra-pesquisa {
    width: 100%;
    padding: 0.5rem 1rem;
    border-radius: 100px;
    height: 100%;
    position: relative;
    border: solid 1px var(--primary-color);
  }

  @media screen and (min-width: 769px) {
    .busca-toolbar {
      padding-bottom: 1rem;
      border-radius: 0;
    }

    .icon-search{
      font-size: 1.5rem;
    }

    .input-group {
      width: 70%;
    }
  }
}
