<app-banner [logo]='true'></app-banner>
<div class="cadastro-cliente">
  <app-container class="container">
    <div class="content">
      <h2 class="titulo">Cadastrar conta</h2>
      <form class="form" [formGroup]="formGroup">
        <div class="input-wrapper">
          <label for="nome" class="label">Nome</label>
          <mat-form-field class="form-field" subscriptSizing="dynamic" appearance="outline">
            <input type="text" matInput class="input" id="nome" formControlName="nome">
            <!-- <mat-error *ngIf="loginForm.get('email')?.errors?.['required']">Campo obrigatório</mat-error> -->
          </mat-form-field>
        </div>
        <div class="input-wrapper">
          <label for="sobrenome" class="label">Sobrenome</label>
          <mat-form-field class="form-field" subscriptSizing="dynamic" appearance="outline">
            <input type="text" matInput class="input" id="sobrenome" formControlName="sobrenome">
            <!-- <mat-error *ngIf="loginForm.get('email')?.errors?.['required']">Campo obrigatório</mat-error> -->
          </mat-form-field>
        </div>
        <div class="input-wrapper">
          <label for="telefone" class="label">Telefone</label>
          <mat-form-field class="form-field" subscriptSizing="dynamic" appearance="outline">
            <input type="text" matInput class="input" id="telefone" formControlName="telefone" [mask]="phoneMask">
            <!-- <mat-error *ngIf="loginForm.get('email')?.errors?.['required']">Campo obrigatório</mat-error> -->
          </mat-form-field>
        </div>
        <div class="form-conta" formGroupName="conta">
          <div class="input-wrapper">
            <label for="email" class="label">E-mail</label>
            <mat-form-field class="form-field" subscriptSizing="dynamic" appearance="outline">
              <input type="email" matInput class="input" id="email" formControlName="email">
              <!-- <mat-error *ngIf="loginForm.get('email')?.errors?.['required']">Campo obrigatório</mat-error> -->
            </mat-form-field>
          </div>
          <div class="input-wrapper">
            <label for="senha" class="label">Senha</label>
            <mat-form-field class="form-field" subscriptSizing="dynamic" appearance="outline">
              <input type="password" matInput class="input" id="senha" formControlName="senha">
              <!-- <mat-error *ngIf="loginForm.get('email')?.errors?.['required']">Campo obrigatório</mat-error> -->
            </mat-form-field>
          </div>
        </div>
      </form>
    </div>
  </app-container>
  <div class="button_wrapper">
    <app-basic-button
      text="Cancelar"
      class="button"
      routerLink=""
    ></app-basic-button>
    <app-primary-button text="Cadastrar" class="button" (click)="onSubmitHandler()"></app-primary-button>
  </div>
</div>
