<app-banner [logo]='true'></app-banner>
<div class="login">
  <app-container class="container">
    <h2>Faça o seu login</h2>
    <form class="form" [formGroup]="loginForm">
      <div class="input-wrapper">
        <mat-form-field class="form-field" subscriptSizing="dynamic" appearance="outline">
          <mat-label>E-mail</mat-label>
          <input type="email" matInput class="input" formControlName="email">
          <mat-error *ngIf="loginForm.get('email')?.errors?.['required']">E-mail obrigatório</mat-error>
          <mat-error *ngIf="loginForm.get('email')?.errors?.['email']">E-mail inválido</mat-error>
        </mat-form-field>
      </div>
      <div class="input-wrapper">
        <mat-form-field class="form-field" subscriptSizing="dynamic" appearance="outline">
          <mat-label>Senha</mat-label>
          <input type="password" matInput class="input" formControlName="senha">
          <mat-error *ngIf="loginForm.get('senha')?.errors?.['required']">Senha obrigatória</mat-error>
        </mat-form-field>
        <!-- <div class="alteracao-senha">
          <a href="/login">Esqueci minha senha</a>
        </div> -->
      </div>
      <app-primary-button
        text="Entrar"
        class="button"
        (click)="logIn()"
      ></app-primary-button>
    </form>
  </app-container>
  <div class="sem-conta">
    <span class="span-sem-conta">Ainda não possui conta?</span>
    <a href="/cadastrar/conta-estabelecimento" class="link-cadastrar">Cadastrar estabelecimento</a>
    <a href="/cadastrar/conta-cliente" class="link-cadastrar">Cadastrar-se como cliente</a>
  </div>
</div>
