<app-banner [logo]='true'></app-banner>
<div class="cadastro-estabelecimento">
  <app-container class="container">
    <div class="content">
      <h2 class="titulo">Cadastrar conta</h2>
      <form class="form" [formGroup]="formGroup">
        <div class="input-wrapper">
          <label for="nome" class="label">Nome fantasia</label>
          <mat-form-field class="form-field" subscriptSizing="dynamic" appearance="outline">
            <input type="text" matInput class="input" id="nome" formControlName="nome">
            <!-- <mat-error *ngIf="loginForm.get('email')?.errors?.['required']">Campo obrigatório</mat-error> -->
          </mat-form-field>
        </div>
        <div class="input-wrapper">
          <label for="cnpj" class="label">CNPJ</label>
          <mat-form-field class="form-field" subscriptSizing="dynamic" appearance="outline">
            <input type="text" matInput class="input" id="cnpj" formControlName="cnpj" mask="00.000.000/0000-00">
            <!-- <mat-error *ngIf="loginForm.get('email')?.errors?.['required']">Campo obrigatório</mat-error> -->
          </mat-form-field>
        </div>
        <div class="input-wrapper">
          <label for="telefone" class="label">Telefone</label>
          <mat-form-field class="form-field" subscriptSizing="dynamic" appearance="outline">
            <input type="text" matInput class="input" id="telefone" formControlName="telefone" [mask]="phoneMask">
            <!-- <mat-error *ngIf="loginForm.get('email')?.errors?.['required']">Campo obrigatório</mat-error> -->
          </mat-form-field>
        </div>
        <div formGroupName="conta">
          <div class="form-conta">
            <div class="input-wrapper">
              <label for="email" class="label">E-mail</label>
              <mat-form-field class="form-field" subscriptSizing="dynamic" appearance="outline">
                <input type="email" matInput class="input" id="email" formControlName="email">
                <!-- <mat-error *ngIf="loginForm.get('email')?.errors?.['required']">Campo obrigatório</mat-error> -->
              </mat-form-field>
            </div>
            <div class="input-wrapper">
              <label for="senha" class="label">Senha</label>
              <mat-form-field class="form-field" subscriptSizing="dynamic" appearance="outline">
                <input type="password" matInput class="input" id="senha" formControlName="senha">
                <!-- <mat-error *ngIf="loginForm.get('email')?.errors?.['required']">Campo obrigatório</mat-error> -->
              </mat-form-field>
            </div>
          </div>
        </div>
      </form>
    </div>
  </app-container>
  <div class="button_wrapper">
    <app-basic-button
      text="Cancelar"
      class="button"
      routerLink=""
    ></app-basic-button>
    <app-primary-button text="Avançar" class="button" (click)="onNext()"></app-primary-button>
  </div>
</div>
