.container {
  position: relative;
  margin-top: -11rem;
  z-index: 2;
  height: auto;
  border-bottom: outset var(--primary-color) 3px;
  padding: 1rem 0 1rem 0;

}

h1, h2 {
  color: var(--primary-color);
  margin: 0;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.telefone {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  max-width: 90%;
}

.endereco {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  max-width: 90%;
}

.endereco__texto {
  text-align: center;
}

.lista-horario{
  text-align: center;
}

.panel-header-mobile {
  padding: .75rem;
}

.horario-mobile {
  width: 85%;
}

ul {
  list-style-type: none;
}

.horario-desktop {
  display: none;
}

.divider {
  background-color: var(--accent-color);
  margin: 1.5rem 0;
}

.divider__titulo {
  color: black;
  font-size: .9rem;
  font-weight: 600;
  text-align: center;
}

.info-servico-funcionario{
  display: flex;
  justify-content: center;
}

.swiper-wrapper {
  width: 95%;
  padding: .5rem;
  .swiper__slide {
    margin-bottom: 2.5rem;
  }

}


.botao {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  width: 100%;
}


.botao__agendar {
  text-align: center;
  padding: 1.5rem 0;
  width: 85%;

  h1 {
    color: white;
  }
}

.card{
  width: 100%;
}

@media screen and (min-width: 769px){
  .container {
    margin-top: 0;
    width: 100%;
    border-radius: 0;
    border-bottom: 0px;
    padding-bottom: 1rem;
  }

  .content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 4rem 4rem 4rem;
    row-gap: .5rem;
    align-items: start;
    justify-content: center;
  }

  .nome {
    grid-column: span 2;
    padding: 1rem;
    text-align: center;
  }

  .endereco {
    grid-column: 1;
    grid-row: 2;
  }

  .telefone {
    grid-column: 1;
    grid-row: 3;
  }

  .horario-mobile {
    display: none;
  }

  .horario-desktop {
    display: inline-block;
    grid-column: 2;
    grid-row: 2;
    text-align: center;
  }

  .botao {
    grid-column: span 2;
  }

  .card-wrapper {
    justify-content: center;
  }

  .botao__agendar {
    margin-bottom: 1rem;
    padding: 1rem;
    width: 25%;
  }

  .swiper__slide {
    padding: 0 3.5rem;
  }
}

@media screen and (max-width: 375px) {
  .full-height {
    min-height: calc(100vh + 168px);
  }

}
