<app-header></app-header>
<div class="content">
  <app-container class="container">
    <app-select-dropdown
      *ngIf="servicos.length > 0"
      [selectLabel]="label"
      class="select-dropdown"
      [objs]="servicos"
      [selectControl]="servicoControl"
      (selecionado)="getFuncionarios(servicoControl.value)"
    ></app-select-dropdown>
    <div class="selecao">
      <h2 class="titulo" *ngIf="funcionarios!.length > 0">
        Selecione o colaborador:
      </h2>
      <!-- Cards input radio de colaboradores -->
      <div class="card-wrapper">
        <app-card-selecionar
          *ngFor="let funcionario of funcionarios"
          [obj]="funcionario"
          radioGroup="colaborador-radio-group"
          class="card"
          [objControl]="colaboradorControl"
        >
        <div></div>
        </app-card-selecionar>
      </div>
      <div *ngIf="!(funcionarios!.length > 0) && servicoControl.value && !colaboradorControl.value">
        <span>Não há colaborador disponível para esse serviço</span>
      </div>
    </div>
  </app-container>
  <div class="button_wrapper">
    <app-basic-button
      text="Voltar"
      class="button"
      routerLink="/estabelecimento/{{estabelecimentoId}}/agendamento/selecionar-pet"
    ></app-basic-button>
    <app-primary-button
      text="Avançar"
      class="button"
      (click)="onClick()"
    ></app-primary-button>
  </div>
</div>
<app-footer [usuarioLogado]="usuarioLogado"></app-footer>
