<app-header></app-header>
<div class="content">
  <app-container class="container">
    <h2 class="titulo">Selecione o serviço:</h2>
    <p>Dropdown</p>
    <h2 class="titulo">Selecione o colaborador:</h2>
    <!-- Cards input radio de colaboradores -->
    <!-- <div class="card-wrapper">
      <app-card-selecionar
        *ngFor="let pet of pets"
        [obj]="pet"
        radioGroup="pet-radio-group"
        class="card"
      >
      </app-card-selecionar>
    </div> -->
  </app-container>
  <div class="button_wrapper">
    <app-basic-button text="Voltar" class="button"></app-basic-button>
    <app-primary-button text="Avançar" class="button"></app-primary-button>
  </div>
</div>
<app-footer></app-footer>

