@use '@angular/material' as mat;
@include mat.core();

$my-primary: mat.define-palette(mat.$blue-palette, 500);
$my-accent: mat.define-palette(mat.$amber-palette, A200);
$my-warn: mat.define-palette(mat.$red-palette);

$my-theme: mat.define-light-theme((
 color: (
   primary: $my-primary,
   accent: $my-accent,
   warn: $my-warn,
 )
));

@include mat.all-component-themes($my-theme);

:root {
  --primary-color: #2196f3;
  --accent-color: #FFE082;
}


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

html, body {
  height: 100vh;
}

body {
  margin: 0 auto;
}

.custom-snackbar {
  background-color: green;
}
