.agendamento {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.dados-agendamento{
  display: flex;
  flex-direction: column;
}

.button-wrapper{
  display: flex;
  justify-content: center;
}

.button {
  margin: 1rem;
}

.vermelho {
  color: red;
}

.verde {
  color: green;
}

@media screen and (min-width: 769px) {
  .button {
    width: 70%;
  }
}


