footer {
  display: flex;
  height: 56px;
  margin-top: 1rem;

  .footer {
    display: flex;
    justify-content: center;
    position: fixed;
    z-index: 3;
    bottom: 0;
    // height: 56px;
  }

  @media screen and (min-width: 769px) {
    .footer {
      display: none;
    }
  }

}
